.button {
  margin-top: 24px;
}

.commentTree {
  margin-bottom: 16px;
  border-left: 1px solid #1f1b2e;
  border-bottom: 1px solid #1f1b2e;
  padding-left: 10px;
  padding-bottom: 16px;
  border-radius: 6px;
}