.container {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  padding-bottom: 48px;
}

.all {
  margin-top: 6px;
  padding: 100px 50px;
  height: 234px;
  border: 1px solid #888888;
  border-radius: 6px;
  align-self: center;
}