.box {
  display: flex;
  gap: 12px;
  margin: 20px 0 30px;
}

.inputBox {
  position: relative;
  height: 40px;
  flex-grow: 1;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.input {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 20px 12px 6px;
  background-color: #d9d7e0;
  color: #1f1b2e;
}

.input:not(:focus) {
  cursor: pointer;
}

.placholder {
  position: absolute;
  top: calc(50% - 10px);
  left: 12px;
  color: #a5a1b2;
  pointer-events: none;
}

.error {
  position: absolute;
  bottom: -24px;
  color: #ff542e;
  pointer-events: none;
}

.button {
  display: block;
}

.overText {
  top: 6px;
  left: 12px;
  font-size: 12px;
  line-height: 12px;
}

.orange {
  color: #ff542e;
}

.icon {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
  background-color: #127432;
}

@media (max-width: 499px) {

  .box {
    flex-wrap: wrap;
    align-items: center;
  }

  .button {
    order: 2;
  }

  .icon {
    order: 1;
  }

  .inputBox {
    order: 3;
  }
}