.wrapper{
    max-width: 1210px;
    margin: 0 auto;
    padding: 24px 0px 80px 0px;
    color: #fff;
    @media(max-width: 1249px){
        padding: 24px 20px 50px 20px;
    }
@media(max-width: 998px){
    padding-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1170 - 320)));
}
}