.box {
  display: inline-block;
  position: relative;
}

.boxRight {
  text-align: right;
}

.tv {
  display: inline-block;
  position: relative;
  width: 100%;
}

.ipad {
  display: inline-block;
  position: absolute;
  width: 37%;
  right: 0;
  bottom: 0;
}

.tvImg {
  position: relative;
  width: 100%;
  max-width: 536px;
  max-height: 272px;
  z-index: 8;
}

.ipadImg {
  position: relative;
  width: 100%;
  max-width: 200px;
  max-height: 136px;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.tvPoster {
  position: absolute;
  left: 18.5%;
  top: 1%;
  width: 63%;
  height: 70%;
  border-radius: 2px;
  z-index: 7;
}

.ipadPoster {
  position: absolute;
  right: 3%;
  bottom: 4%;
  width: 94%;
  height: 75%;
  border-radius: 4px;
  z-index: 9;
}

.button {
  margin-top: 24px;
}

@media (max-width: 969px) {

  .box {
    width: 100%;
  }
}