.rowBorder {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 0;
  border-top: 1px solid rgba(255, 255, 255, .16);
}

.button {
  display: flex;
  gap: 8px;
  font-weight: 500;
  align-items: center;

  &:hover {
    opacity: 0.48;
  }
}

.icon {
  line-height: 0;
  height: 21px;
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBox {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
}

.device {
  font-weight: 500;
  margin-top: 4px;
}

.buttons {
  display: grid;
  grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  gap: 12px;
}

.buttonsIcon {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.subTitle {
  color: rgba(255, 255, 255, .48);
  margin-bottom: 24px;
}

@media (max-width: 599px) {
  .buttons {
    grid-template-columns: 100%;
  }
}