.box {
  margin: auto;
  margin-top: 26px;
  max-width: 600px;
}

.propsBox {
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.title {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
}

.inputBox {
  align-items: flex-start;
  width: 100%;
  display: grid;
  grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  gap: 12px;
}

.button {
  padding-top: 24px;
  width: calc(50% - 6px);
}

.status {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #b4b4b4;
  margin-top: 12px;
}