.container {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.row {
  padding: 48px 152px;
  display: flex;
}

.box {
  width: 584px;
  flex-grow: 0;
  flex-shrink: 0;
}

.linkIcon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.nav {
  display: flex;
  padding-bottom: 5px;
  gap: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, .16);
}

.active {
  position: relative;

  &::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background-color: #ea003d;
    position: absolute;
    bottom: -8px;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
}

.subTitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 32px;
}

.creators {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
}

.creator {
  flex: 0 0 calc(25% - 9px);
  max-width: calc(25% - 9px);
}


.img {
  max-width: 30%;
  max-height: 30%;
  padding-left: 30px;
}

.padding {
  padding-top: 20px;
  padding-left: 20px;
}

.combox {
  background-color: rgb(20, 51, 41);
  border-radius: 5px;
  padding: 5px;
}

.tgh {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  padding: 20px;
  background-color: #1f1b2e;
  border-radius: 8px;
}

.pad {
  margin-left: -20px;
  display: flex;
  align-items: start;
  gap: 10px;
}

.padd {
  margin-top: 15px;
  background-color: #ea003d;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}