.button {
  display: flex;
  gap: 8px;
  font-weight: 500;
  align-items: center;

  &:hover {
    opacity: 0.48;
  }
}

.icon {
  line-height: 0;
  height: 21px;
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.up {
  transform: rotate(180deg);
}

.dropdownBox {
  margin-top: 8px;
}