.propsBox {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.title {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
}

.inputBox {
  align-items: flex-start;
  width: 100%;
  display: grid;
  grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  gap: 12px;
}