.box {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: #1f1b2e4b;
  padding: 0 40px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  line-height: 20px;
}

.icon {
  line-height: 0;
  height: 21px;
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}