.wrapper {
    margin-top: 12px;
    position: relative;

    .swiper {
        overflow: visible !important;
    }

    .swiper-slide {
        overflow: visible !important;
    }

}

.next,
.prev {
    position: absolute;
    top: calc(50% - 20px);
    z-index: 10;
    cursor: pointer;
}

.disabledNav {
    opacity: 0;
}

.next {
    right: -35px;
}

.prev {
    left: -35px;
}

@media(max-width: 768px) {

    .next {
        right: -20px;
    }

    .prev {
        left: -20px;
    }
}