.crumb{
    color: #fff;
    a{
        font-weight: 500;
        padding-bottom: 3px;
            box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
            &:before{
                
            }
    }
    span{
        color: rgba(255, 255, 255, 0.48);
        display: inline-block;
        margin-left: 10px;
    }
}