.wrapper{
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid rgba(255,255,255,.32);
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.genre{
    flex: 0 0 30%;
     @media(max-width: 768px){
flex: 46%;
     }   
}