.box {
  display: grid;
  align-items: center;
  row-gap: 8px;
  padding: 20px;
  background-color: #1f1b2e;
  border-radius: 8px;
}

.title {
  color: rgba(255, 255, 255, .72);
  font-weight: 500;
  grid-area: userName;
}

.comment {
  line-height: 22px;
  grid-area: comment;
}

.date {
  color: rgba(255, 255, 255, .72);
  white-space: nowrap;
  grid-area: date;
}

.likeBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  grid-area: like;
  justify-self: end;
}

.icon {
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.likes {
  color: #73a32f;
  font-weight: 500;
}

.lessBox {
  grid-template-areas:
    "userName userName"
    "comment comment"
    "date like";
  grid-template-columns: auto auto;
  height: 162px;
  overflow: hidden;
  cursor: pointer;

  .comment {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.fullLengthBox {
  grid-template-areas:
    "avatar userName date like"
    "button comment comment comment";
  grid-template-columns: auto auto auto 1fr;
  column-gap: 8px;
  width: 100%;
  padding: 12px;
}

.response {
  height: auto;
}

.button {
  grid-area: button;
  align-self: end;
}

.avatar {
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: avatar;
}

.red {
  background-color: #ff2d2d;
}

.orange {
  background-color: #da6900;
}

.green {
  background-color: #127432;
}

.blue {
  background-color: #0092cc;
}

.purple {
  background-color: #712bc0;
}

@media (max-width: 499px) {
  .fullLengthBox {
    grid-template-areas:
      "avatar userName userName"
      ". comment comment"
      "button date like";
    grid-template-columns: auto auto 1fr;
  }
}

@media (max-width: 399px) {
  .fullLengthBox {
    grid-template-areas:
      "avatar userName"
      "comment comment"
      "date date"
      "button like";
    grid-template-columns: auto 1fr;

    .date {
      justify-self: end;
    }
  }
}

@media (max-width: 309px) {

  .lessBox {
    grid-template-areas: "userName" "comment" "date" "like";

    .date {
      justify-self: end;
    }

    .comment {
      -webkit-line-clamp: 2;
    }
  }
}