.rowBorder {
  display: grid;
  padding: 48px 0;
  border-top: 1px solid rgba(255, 255, 255, .16);
}

.rowFourEl {
  grid-template-columns: 25% 25% 25% 25%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    margin-top: 32px;
  }
}

.box {
  display: block;
}

.buttons {
  display: flex;
  gap: 12px;
}

.boxWide {
  width: 100%;
}

.subBox {
  text-align: center;
}

.title {
  font-weight: 500;
  color: #FFFFFF;
}

.subTitle {
  color: rgba(255, 255, 255, .48);
}

.subTitleMargin {
  margin-top: 28px;
}

@media (max-width: 1499px) {
  .rowFourEl {
    grid-template-columns: 31% 23% 23% 23%;
  }
}