.title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 32px;
}

.creators {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  row-gap: 36px;
  margin-top: 16px;
}

.creator {
  flex-basis: calc(25% - 9px);
  max-width: calc(25% - 9px);
  min-width: 128px;
}

@media (max-width: 799px) {

  .creator {
    flex-basis: calc(100% / 3 - 8px);
    max-width: calc(100% / 3 - 8px);
  }
}

@media (max-width: 599px) {

  .creator {
    flex-basis: calc(50% - 6px);
    max-width: calc(50% - 6px);
  }
}

@media (max-width: 399px) {

  .creator {
    flex-basis: 100%;
    max-width: 100%;
  }
}