.box {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  gap: 8px;
}

.icon {
  line-height: 0;
}

@media (max-width: 599px) {
  .box {
    flex-wrap: wrap;
    gap: 12px;
  }
}