.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 108px;
        background-color: #312b45;
    border: 1px solid rgba(255,255,255,.32);
    padding: 16px 8px;
    border-radius: 4px;
    transition: background 0.2s;
    cursor: pointer;
    &:hover{
        background: #7e798f;
    }
    img{
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
    }
    span{
        font-size: 13px;
        font-weight: 700px;
    }
}