.redWrapper{
    padding: 9px 15px;
    background-color: #ea003d;
    border-color: #ea003d;
    width: fit-content;

    border-width: 1px;
    border-radius: 8px;

    &:active{
        background-color: #8d0026; 
    }
}

