.title{
    margin-bottom: auto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 96px !important;
    flex: 1 0 auto;
    &:last-child{
        flex: 0 0 322px;
        @media(max-width: 1219px){
            flex: 1 1 322px;
        }
    }
&:first-child{
    flex: 0 0 500px;
    @media(max-width: 1219px){
        flex: 1 1 500px;
    }
    @media(max-width: 998px){
        flex: 1 1 100%;
    }
}
    @media(max-width: 998px){
        flex: 1 1 46%;
    }
}


.row {
    display: flex;
    gap: 24px;
    margin-bottom: 25px;
    @media(max-width: 998px){
        flex-wrap: wrap;
    }
}