.btn{
    background-color: #312b45;
    border-radius: 4px;
    color: #fff;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.2s;
    font-size: 15px;
    font-weight: 700;
    flex: 0 0 23%;
    padding: 0 8px;
    &:active{
        background: #7e798f;
    }
}