.label{
    position: absolute;
    background-color: #ea003d;
    height: 20px;
    border-radius: 10px;
    z-index: 999;
    top: 8px;
    left: -0px;
    padding: 0 8px;
    font-size: 13px;
    display: flex;
    align-items: center;
}