.header{
    height: 72px;
    @media(max-width: 1230px){
        padding: 0 20px;
    }
    &__container{
        position: relative;
        max-width: 1210px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #949393;
        z-index: 99;
     
    }
}