.bell{
    margin: 0px 24px 0px 0;
    @media(max-width: 1149px){
      margin: 0px 24px 0px auto;
    }
  &:hover{
    svg{
        fill: rgba(255,255,255, 1);
    }
  }
    svg{
        transition: fill 0.4s;
        fill: rgba(255,255,255,.48);
    }
}