.treeComments {
  margin-left: 20px;
}

.treeCommentsS {
  margin: 16px 0 0 -58px;
  border: 1px solid #1f1b2e;
  padding: 16px;
  padding-top: 0;
  border-radius: 6px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -32px;
    left: 0;
    width: 72px;
    height: 32px;
    border-top: 1px solid rebeccapurple;
    border-left: 1px solid rebeccapurple;
  }
}

.comment {
  margin-top: 16px;
  margin-left: -20px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.icon {
  margin-top: 15px;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #ff2d2d;
}

.orange {
  background-color: #da6900;
}

.green {
  background-color: #127432;
}

.blue {
  background-color: #0092cc;
}

.purple {
  background-color: #712bc0;
}