.treeComments {
  margin-bottom: 10px;
}

.childeComments {
  margin-top: 10px;
  padding-left: 15px;
}

.bordered {
  margin-left: -60px;
  border: 1px solid #1f1b2e;
  border-left: none;
  padding-right: 15px;
  padding-top: 10px;
  border-radius: 0 6px 6px 0;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -32px;
    left: -1px;
    width: 41px;
    height: 150px;
    border-top: 1px solid #1f1b2e;
    border-left: 1px solid #1f1b2e;
    border-radius: 6px 0 0 0;
  }
}

@media (max-width: 499px) {
  .childeComments {
    padding-left: 10px;
  }

  .bordered {
    margin-left: -40px;
  }
}