.materials {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  row-gap: 36px;
  margin-top: 32px;
}

.hidden {
  display: none;
}

.materialBoxPreview {
  flex-basis: calc(50% - 6px);
  max-width: calc(50% - 6px);
}

.materialBox {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.video {
  width: 100%;
  aspect-ratio: 1.6;
  align-self: center;
}

.poster {
  max-width: 100%;
  max-height: 75vh;
  align-self: center;
}

.back {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

@media (max-width: 1059px) {

  .materialBoxPreview {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (max-width: 899px) {

  .materialBoxPreview {
    flex-basis: calc(50% - 6px);
    max-width: calc(50% - 6px);
  }
}

@media (max-width: 679px) {

  .materialBoxPreview {
    flex-basis: 100%;
    max-width: 100%;
  }
}