.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 10px 0;
}

.buttonIcon {
  line-height: 0;
}

.telephone {
  position: absolute;
  white-space: nowrap;
  top: calc(100% + 18px);
  left: 0;
}

.hidden {
  display: none;
}