.container {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin-top: auto;
}

.ordinary {
  display: block;
}

.adaptive {
  display: block;
}

@media (max-width: 1023px) {
  .ordinary {
    display: none;
  }
}

@media (min-width: 1024px) {
  .adaptive {
    display: none;
  }
}