.container {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.rowBorder {
  display: flex;
  padding: 48px 0;
  border-top: 1px solid rgba(255, 255, 255, .16);
}

.row {
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-top: 32px;
  }
}

.buttons {
  display: flex;
  gap: 12px;
}

.boxNarrow {
  width: 25%;
}

.boxWide {
  width: 100%;
}

.subBox {
  width: 25%;
  text-align: center;
}

.title {
  font-weight: 500;
  color: #FFFFFF;
}

.subTitle {
  color: rgba(255, 255, 255, .48);
}

.subTitleMargin {
  margin-top: 28px;
}