.box {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 6px;
  background-color: #1f1b2e;
  border: 1px solid #afafaf;
  border-radius: 8px;
}

.input {
  width: 100%;
  padding: 24px 6px 8px;
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
  background-color: #1f1b2e;
  overflow: hidden;
  text-overflow: ellipsis;

  &:read-only {
    color: #b1b1b1;
  }

  &:not(:focus) {
    cursor: pointer;
  }
}

.button {
  padding: 4px;
  background-color: #100e19;
  border-radius: 50%;
  border: 1px solid #b1b1b1;
  cursor: pointer;

  &:hover {
    background-color: #1f1b2e;
  }
}

.placholder {
  width: calc(100% - 24px);
  position: absolute;
  top: calc(50% - 10px);
  left: 12px;
  color: #a5a1b2;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.error {
  position: absolute;
  bottom: -24px;
  color: #ff542e;
  pointer-events: none;
}

.overText {
  top: 8px;
  left: 12px;
  font-size: 12px;
  line-height: 12px;
}

.orange {
  color: #ff542e;
}

.red {
  background-color: #2e1b21;
}