.title {
  font-size: 42px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.dot {

  &::before {
    display: inline-block;
    content: '';
    width: 2px;
    height: 2px;
    text-align: center;
    background-color: rgba(255, 255, 255, .72);
    margin-right: 6px;
    margin-bottom: 3px;
  }
}

.props {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  gap: 8px;
}