.item{
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    margin-top: 12px;
    img{
        height: 48px;
        border-radius: 8px;
        width: 48px;
    }
}
.avatar{
    height: 48px;
        border-radius: 8px;
        width: 48px;
        background-color: lightpink;
}