.container {
  width: 100%;
}

.row {
  margin: 48px 0 26px;
}

.box {
  margin: auto;
  margin-top: 26px;
  max-width: 800px;
}

.link {
  display: inline-block;
  cursor: pointer;
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 16px;
  color: #FFFFFF;

  &:hover {
    opacity: 0.48;
  }
}

.icon {
  padding: 2px;
  margin-left: 6px;
}

.up {
  transform: rotate(180deg);
}

.title {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
}

.inputBox {
  align-items: flex-start;
  width: 100%;
  margin-top: 26px;
  display: grid;
  grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  gap: 12px;
}

.oneEl {
  grid-template-columns: 100%;
}

.fourEl {
  grid-template-columns: calc(25% - 9px) calc(25% - 9px) calc(25% - 9px) calc(25% - 9px);
}

.button {
  margin-top: 24px;
  width: calc(50% - 6px);
}