.container {
  width: 100%;
}

.box {
  margin: auto;
  margin-top: 26px;
  max-width: 800px;
}

.link {
  margin: 48px 0 26px;
  display: flex;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;

  &:hover {
    opacity: 0.48;
  }
}

.up {
  transform: rotate(180deg);
}

.title {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
}

.inputBox {
  align-items: flex-start;
  width: 100%;
  margin-top: 26px;
  display: grid;
  grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  gap: 12px;
}

.oneEl {
  grid-template-columns: 100%;
}

.fourEl {
  grid-template-columns: calc(25% - 8px) calc(25% - 8px) calc(25% - 8px) calc(25% - 8px);
}

.button {
  margin-top: 12px;
  width: calc(50% - 6px);
}