.container {
  width: 100%;
}

.row {
  margin: 48px 0 26px;
}

.box {
  margin: auto;
  margin-top: 26px;
  max-width: 800px;
}

.link {
  width: 200px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  color: #FFFFFF;

  &:hover {
    opacity: 0.75;
  }
}

.icon {
  padding: 2px;
}

.up {
  transform: rotate(180deg);
}

.status {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #b4b4b4;
  margin-top: 12px;
}