.rowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  grid-area: tagline;
}

.description {
  grid-area: description;
}

.sign {
  color: rgba(255, 255, 255, 0.48);
  cursor: pointer;
  margin-top: -24px;
  grid-area: sign;
}

.row {
  margin-top: 8px;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 20px;
}

.props {
  margin-bottom: 12px;
  padding: 12px 0;
  border-top: 1px solid rgba(255, 255, 255, .24);
  border-bottom: 1px solid rgba(255, 255, 255, .24);
  grid-area: props;
}

.quality {
  display: flex;
  margin-top: 4px;
  font-weight: 500;
  gap: 0.5em;
}

.propsName {
  color: rgba(255, 255, 255, .72);
}

.propsText {
  margin-top: 4px;
  color: #FFFFFF;
}

@media (max-width: 1279px) {
  .props {
    display: block;
    margin-bottom: 0;
    border: none;
  }

  .sign {
    margin-top: 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, .24);
  }
}