.block {
  margin-top: 12px;
}

.materialBoxPreview {
  width: 286px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.img {
  width: 100%;
  aspect-ratio: 1.7;
  border-radius: 8px;
  transition-duration: 0.2s;

  &:hover {
    transform: scale(1.02);
  }
}

.title {
  margin-top: 4px;
}

.subtitle {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, .48);
}

.materialBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.video {
  width: 100%;
  aspect-ratio: 1.6;
}

.poster {
  max-width: 100%;
  max-height: 75vh;
}

.icon {
  height: 30px;
  width: 30px;
  align-self: flex-end;

  &:hover {
    opacity: 0.5;
  }
}

@media (min-width: 1999px) {
  .materialBox {
    width: 30%;
  }
}

@media (max-width: 999px) {
  .materialBox {
    width: 70%;
  }

  .icon {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 499px) {
  .videoBox {
    width: 80%;
  }

  .icon {
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 326px) {
  .materialBoxPreview {
    width: 100%;
  }
}