.box {
  margin: auto;
  margin-top: 26px;
  max-width: 800px;
}

.inputBox {
  align-items: flex-start;
  width: 100%;
  margin-top: 26px;
  display: grid;
  grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  gap: 12px;
}

.oneEl {
  grid-template-columns: 100%;
}

.fourEl {
  grid-template-columns: calc(25% - 9px) calc(25% - 9px) calc(25% - 9px) calc(25% - 9px);
}

.button {
  margin-top: 24px;
  width: calc(50% - 6px);
}

.status {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #b4b4b4;
}

@media (max-width: 999px) {
  .fourEl {
    grid-template-columns: calc(50% - 6px) calc(50% - 6px);
    row-gap: 26px;
  }
}

@media (max-width: 599px) {
  .inputBox {
    grid-template-columns: 100%;
    row-gap: 26px;
  }

  .fourEl {
    grid-template-columns: 100%;
    row-gap: 26px;
  }
}