.row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.visible {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.item {
  width: calc((100% - 200px)/11);
}

.job {
  font-weight: 500;
}

@media (max-width: 1260px) {

  .creator:nth-child(n+10) {
    display: none;
  }

  .item {
    width: calc((100% - 180px)/10);
  }
}

@media (max-width: 1160px) {

  .creator:nth-child(n+9) {
    display: none;
  }

  .item {
    width: calc((100% - 160px)/9);
  }
}

@media (max-width: 1060px) {

  .creator:nth-child(n+8) {
    display: none;
  }

  .item {
    width: calc((100% - 140px)/8);
  }
}

@media (max-width: 949px) {

  .creator:nth-child(n+7) {
    display: none;
  }

  .item {
    width: calc((100% - 120px)/7);
  }
}

@media (max-width: 836px) {

  .creator:nth-child(n+6) {
    display: none;
  }

  .item {
    width: calc((100% - 100px)/6);
  }
}

@media (max-width: 724px) {

  .creator:nth-child(n+5) {
    display: none;
  }

  .item {
    width: calc((100% - 80px)/5);
  }
}

@media (max-width: 612px) {

  .creator:nth-child(n+4) {
    display: none;
  }

  .item {
    width: calc((100% - 60px)/4);
  }
}

@media (max-width: 484px) {

  .creator:nth-child(n+3) {
    display: none;
  }

  .item {
    width: calc((100% - 40px)/3);
  }
}

@media (max-width: 384px) {

  .creator:nth-child(n+2) {
    display: none;
  }

  .item {
    width: calc((100% - 20px)/2);
  }
}