.container{
    display: flex;
    justify-content: space-between;
    width: 500px;
    background-color: #1f1b2e;
    padding: 15px 16px;    

    border-radius: 10px;
}

.input{
    background-color: transparent;
    color: white;
}