.wrapper{
    padding: 32px;
    background-color: #1f1b2e;
    position: absolute;
    left: 0;
    right: 0;
    top: 73px;
    z-index: 9999;
    border-radius:  0 0 16px 16px;
    height: 508px;
    display: none;
    
}