.container {
  padding-top: 36px;
  padding-bottom: 48px;
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.row {
  padding-top: 48px;
  width: 968px;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
}

.box {
  display: block;
}

.card {
  display: block;
  text-align: right;
}

.linkIcon {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

@media (max-width: 1049px) {

  .row {
    width: auto;
    margin: 10px;
  }
}

@media (max-width: 899px) {
  .card {
    display: none;
  }

  .row {
    grid-template-columns: 100%;
  }
}