.link {
  display: inline-block;
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  transition-duration: .4s;
}

.white {
  color: #FFFFFF;

  &:hover {
    color: rgba(255, 255, 255, .48);
  }
}

.grey {
  color: rgba(255, 255, 255, .48);

  &:hover {
    color: #FFFFFF;
  }
}

.greyLight {
  color: rgba(255, 255, 255, .72);

  &:hover {
    color: #FFFFFF;
  }
}

.pinkGradient {
  display: inline-block;
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 8px;
  background-image: linear-gradient(-45deg, #c447ff, #ea003d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fontWeight500 {
  font-weight: 500;
}